.timer {
    position:absolute;
    left:30px ;
    top:30px;
}

.highscores {
    position:absolute;
    right:30px ;
    top:30px;
}

.starting-page{
    position: absolute;
    top:100px;
    left: 30px;
    text-align: center;
 
}

body {
    font-family: 'Times New Roman', Times, serif; 
    background-color: lightgray;

}
